.table-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: "Open Sans Bold", serif;
}
.table-header > .row-element{

}
.table-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main{
    margin: 3rem;
}
.row-element{
    width: 25%;
    display: flex;
    justify-content: center;
    border: 0.1rem solid black;
    padding: 0.5rem;
}
.table-header > .row-element{
    cursor: pointer;
}
#pagination-section{
    display: flex;
}
.pagination-element{
    margin: 1rem;
    cursor: pointer;
}
.sorted > .triangle-bottom{
    display: block;
}
.sorted-reverse > .triangle-top{
    display: block;
}
.unsorted > .triangle-bottom, .unsorted > .triangle-top{
    display: none;
}

.triangle-top{
    border: 0.3rem solid transparent;
    border-top: 0;
    border-bottom: 0.6rem solid #484848;
    display: none;
    margin: auto;
}
.triangle-bottom{
    border: 0.3rem solid transparent;
    border-bottom: 0;
    border-top: 0.6rem solid #484848;
    display: none;
    margin: auto;

}